.nav-item:hover{
    background-color: black;
    
}
.navbar-brand:hover{
    color: white !important;
}
.homeSection{
    width: auto;
    height: auto;
    margin-top: 15rem;
}
.portfolioSection{
    margin-top: 4rem;
}
.aboutSection{
    margin-top:4rem;
    padding: 4rem;
}